@using Blazored.Toast
@using Blazored.Toast.Configuration
@using CodeBlock.DevKit.AIChatBot.UI.Models
@using CodeBlock.DevKit.AIChatBot.UI.Pages.Client.Components
@using CodeBlock.DevKit.Clients.WebApp.Pages.UserPanel.Shared
@using CodeBlock.DevKit.Contracts.Services
@using CodeBlock.DevKit.Web.Localization
@inject LocalizationSettings LocalizationSettings
@inject ApplicationSettings ApplicationSettings
@inject ISettingAccessorService SettingAccessorService
@inherits UserPanelLayout
@attribute [ReplaceBaseComponent]

<HeadContent>
    <link href="css/cb.user.panel.spa.@(LocalizationSettings.GetCurrentLanguageDirection().ToLower()).min.css?v=10" rel="stylesheet" />
</HeadContent>

<SplashScreen BrandName="@ApplicationSettings.Localized.Name" BackgroundCssClass="simple-layout-dark-bg" OnStarted="HandleSplashStarted" LogoUrl="/images/logos/logo.png" />

@if (SplashScreenStarted)
{
    <BlazoredToasts Position="ToastPosition.BottomCenter"
                    Timeout="5"
                    IconType="IconType.Material"
                    ErrorIcon=""
                    InfoIcon=""
                    SuccessIcon=""
                    WarningIcon=""
                    ShowProgressBar="true" />

    <header class="top-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a href="/dashboard" class="logo">
                        <img src="/images/logos/logo.png" alt="@ApplicationSettings.Localized.Name" class="logo-image me-2">
                    </a>
                </div>
                <div class="d-flex align-items-center gap-3">

                    @* <CustomSelectLanguage /> *@

                    <TopMenu />
                </div>
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="mobile-overlay" id="mobileOverlay"></div>

        <main class="main-content">
            @Body
        </main>

        @if (SettingAccessorService.Settings.AIChatBot.ShowChatBotWidgetInUserPanel)
        {
            <ChatBotWidget Theme="ChatBotWidgetTheme.Dark" />
        }

    </div>
}

@code {

    bool SplashScreenStarted = false;

    protected void HandleSplashStarted()
    {
        SplashScreenStarted = true;
    }
}